* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
    scroll-behavior: smooth;
}

.tear-drop {
    position: absolute;
    opacity: 0.4;
    animation: fall linear 1;
}

@keyframes fall {
    to {
        transform: translateY(calc(100vh + 50px));
    }
}

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease-out !important;
    visibility: hidden;
}

    .reveal.active {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }

/*#region header*/
header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    z-index: 1000;
    opacity: .9;
}

nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 50px;
    width: 100%;
}

.home-link img {
    width: 35px;
}

.home-link {
    display: flex;
    align-items: center;
    color: gold;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    gap: 5px;
}

.nav-links {
    display: flex;
    justify-content: end;
    gap: 25px;
}

    .nav-links a {
        color: white;
        text-decoration: none;
        transition: color .3s;
        text-transform: uppercase;
    }

        .nav-links a:hover {
            color: red;
        }
/*#endregion*/

/*#region main*/

.asterisk::after {
    content: '*';
    vertical-align: super;
    font-size: 1rem;
    text-shadow: none;
}

.home-image {
    background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url('images/home.webp');
}

.in-progress-image {
    background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url('images/workmen.webp');
}

.start-section {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
}

    .start-section > div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
        padding: 0 10px;
        z-index: 2;
        position: relative;
    }

    .start-section h1 {
        font-size: clamp(3rem, 8vw, 6rem);
        color: gold;
        text-transform: uppercase;
        text-shadow: 3px 3px 0px red;
    }

    .start-section p {
        color: white;
        max-width: 700px;
        font-style: italic;
        font-size: 1.5rem;
    }

    .start-section a {
        margin-top: 30px;
    }

.btn {
    color: white;
    text-decoration: none;
    background-color: red;
    padding: 10px 25px;
    border-radius: 20px;
    font-weight: bold;
    transition: color .3s;
    cursor: pointer;
}

    .btn:hover {
        color: gold;
    }

main h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 60px;
}

.section {
    padding: 65px 30px 0px 30px;
    margin: 0 auto;
    max-width: 1100px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
}

    .grid .card {
        background-color: white;
        border: solid 4px black;
        padding: 40px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 20px 20px 5px grey;
        cursor: pointer;
        transition: box-shadow .8s,border-color .3s;
        height: 240px;
    }

        .grid .card.selected {
            border-color: gold;
            box-shadow: 20px 20px 5px red;
        }

            .grid .card.selected:hover {
                box-shadow: 25px 25px 0px red;
            }

        .grid .card:hover {
            box-shadow: 25px 25px 0px gold;
        }

        .grid .card span {
            font-weight: bold;
            font-size: 1.4rem;
            margin-top: 20px;
            color: black;
        }

h3 {
    margin-bottom: 15px;
    color: red;
    font-size: 1.5rem;
}

.form {
    border: solid 4px black;
    border-radius: 20px;
    box-shadow: 20px 20px 5px grey;
    padding: 60px 40px;
    text-align: center;
}

    .form h2 {
        margin-bottom: 20px;
    }

    .form form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .form input {
        padding: 20px;
        max-width: 500px;
        width: 100%;
        border: solid 2px grey;
        border-radius: 20px;
        transition: border-color .3s;
        outline: none;
    }

        .form input:focus {
            border-color: gold;
        }

    .form button {
        font-size: 1.2rem;
        margin-top: 20px;
    }

/*#endregion*/

/*#region footer*/
footer {
    margin-top: 65px;
    padding: 20px;
    background-color: grey;
    color: white;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

    footer a {
        color: gold;
        text-decoration: none;
        transition: color .3s;
    }

        footer a:hover {
            color: red;
        }
/*#endregion*/

/*#region modal*/
.modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #0000007a;
    z-index: 1000;
}

    .modal > div {
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

        .modal > div > div {
            border: solid 4px black;
            background-color: white;
            border-radius: 20px;
            padding: 40px;
            max-width: 800px;
            position: relative;
        }

            .modal > div > div > div {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    border: none;
    font-size: 1.5rem;
    background-color: transparent;
    cursor: pointer;
    transition: color .3s;
}

    .close:hover {
        color: red;
    }
/*#endregion*/
